<div class="col-md-4 panel panel-default active" id="<%= tracker.escape('title') %>" data-tracker-id="<%= tracker.escape('id') %>">
	<div class="panel-heading">
		<h5 class="tracker-title panel-title"><%= tracker.escape('title') %></h5>
		<span class="glyphicon glyphicon-plus add-story"></span>
	</div>
		<% if (tracker.escape('title') != "icebox" && collection.length > 0) { %>
			<div class="story-totals">
				<div class="week-display"><%= week %></div>
				<div class="point-display"><%= points %></div>
			</div>
		<% } %>
	<div class="story-form"></div>
 	
	<div class="story-wrapper story-display"></div>
</div>

