<div class='story-title <%=story.get('state') %>'>
		<span class="glyphicon glyphicon-cog edit-story"></span>
		<span class="glyphicon glyphicon-th-large show-modal window-icon"></span>

		<h4 class="title"><%= story.escape('title') %></h4>
		<button type="button" 
			class="btn btn-default btn-xs state"><%= story.escape('state') %>
		</button>
</div>

<div class="story-modal modal modal-fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"><%= story.escape('title') %></h4>
			</div>
			<div class="modal-body">
				<ul class="list-group">
					<li class="list-group-item story-attrs">
						<p>Points</p>
						<p class="show-attr"><%= story.escape('points') %></p>
					</li>
					<li class="list-group-item story-attrs">
						<p>Type</p>
						<p class="show-attr"><%= story.escape('story_type') %></p>
					</li>
					<li class="list-group-item show-description">
						<p>Description</p>
						<p class="description"><%= story.escape('description') %></p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>