<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="navbar-header">
	    <!-- reposition if signed in or signing up/in -->
	    <% unless signed_in? %>
		  	<a class="navbar-brand brand-centered" href="/"><%= image_tag ("logo.png") %></a>
		  <% else %>
		    <a class="navbar-brand" href="/">Task Tracker</a>
	    <% end %>
	  </div>
	  <!-- nav bar options -->
    <ul class="nav navbar-nav navbar-signin">
    	<% if signed_in? %>
	    	<li class="sign-out-link" ><a href="/session" data-method="delete" style="color:white">Sign Out</a></li>
    		<li class="dashboard-link"><a href="" style="color:white">Dashboard</a></li>
    		<li class="dropdown">
  			  <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:white">Projects<span class="caret"></span></a>
  			  <ul class="dropdown-menu" role="menu">
  			  	<li role="presentation"><a role="menuitem" href="#/projects" id="all-projects-link" >View All Projects</a></li>
				  	<li role="presentation" class="divider"></li>
  			  	<% current_user.projects.each do |project| %>
  			  		<li role="presentation"><a role="menuitem" href="#/projects/<%= project.id %>"><%= project[:title] %></a></li>
  			  	<% end %>
  			  </ul>
    		</li>
      <% elsif content_for :auth_button %>
      	  <div class="enter-app">
			      <%= yield :auth_button %>
			    </div>
			 <% else %>
			 	<div class="auth-options" style="float:right; margin-top:25px; margin-right: 20px" >
				 <!-- sign in option -->
				   <button type="button" class="btn btn-default btn-md" id="signin-link"><%= link_to "Sign In", new_session_url, :remote => true,
				   				'data-toggle' => 'modal', 'data-target' => '#signInModal'   %></button>
				  <!-- sign up option -->
				 <button type="button" class="btn btn-default btn-md" id="signup-link"><%= link_to "Sign Up", new_user_url, :remote => true, 'data-toggle' => 'modal', 'data-target' => '#signUpModal' %></button>
				</div>
      <% end %>
    </ul>
</nav>


<% if flash[:errors] %>
	<div class="alert alert-danger alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<%= flash[:errors].join("<br>").html_safe %>
	</div>
<% end %>
