<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <div class="navbar-header">
	    <!-- reposition if signed in or signing up/in -->
	    <% unless signed_in? || (content_for :auth_button) %>
		    <a class="navbar-brand" href="/">Task Tracker</a>
		  <% else %>
		  	<a class="navbar-brand brand-centered" href="/#/projects">Task Tracker</a>
	    <% end %>
	  </div>
	  <!-- nav bar options -->
    <div class="nav navbar-nav navbar-right">
    	<% if signed_in? %>
  			<%= button_to "Sign out", session_url, method: :delete, class: "btn btn-primary navbar-btn" %>
      <% elsif content_for :auth_button %>
      	  <div class="enter-app">
			      <%= yield :auth_button %>
			    </div>
			 <% else %>
			   <%= link_to "Sign In", new_session_url %>
			   <%= link_to "Sign Up", new_user_url %>
      <% end %>
    </div>
</nav>


<% if flash[:errors] %>
	<div class="alert alert-warning alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<%= flash[:errors].join("<br>").html_safe %>
	</div>
<% end %>
