<!DOCTYPE html>
<html>
	<head>
	  <title>TaskTracker</title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= stylesheet_link_tag "magic.css", media: "all" %>
	  <%= csrf_meta_tags %>
	</head>
	<body <%= "class=signed-in" if signed_in? %>>
		<%= render partial: "layouts/header" %>
		<%= yield %>

		<div class="modal fade" id="signInModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<%= render 'sessions/new' %>
				</div>
			</div>
		</div>

		<div class="modal fade" id="signUpModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<%= render 'users/new' %>
				</div>
			</div>
		</div>

	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	</body>
</html>
