<!DOCTYPE html>
<html>
	<head>
	  <title>TaskTracker</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<%= render partial: "layouts/headers" %>
		<!-- consider moving the main div configuration to root.html.erb -->
		<div class="backdrop jumbotron">
			<div id="main">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
